In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Windows 용 한글 폰트 오류 해결
from matplotlib import font_manager,rc
font_path = "C:/Windows/Fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname = font_path).get_name()
rc("font", family = font_name)

In [5]:
df = pd.read_csv("./data/서울교통공사_역사공중화장실정보(1-8호선).csv", encoding= "cp949")
df.head()

,연번,구분,관리기관명,운영노선명,역명,소재지도로명주소,소재지지번주소,위도,경도,지상 또는 지하 구분,...,여성용-장애인용대변기수,여성용-어린이용대변기수,비상벨 설치유무,화장실입구cctv설치유무,기저귀교환대설치유무-남자화장실,기저귀교환대설치유무-남자장애인화장실,기저귀교환대설치유무-여자화장실,기저귀교환대설치유무-여자장애인화장실,리모델링 연도,데이터기준일자
0,1.0,공중화장실,서울교통공사,1호선,서울,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선),37.556878,126.972578,지하,...,1.0,2.0,Y,Y,Y,Y,Y,Y,2015,2025-03-13
1,2.0,공중화장실,서울교통공사,1호선,시청,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선),37.565682,126.976849,지하,...,1.0,2.0,Y,Y,Y,Y,Y,Y,2013,2025-03-13
2,3.0,공중화장실,서울교통공사,1호선,종각,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),37.570175,126.983226,지하,...,1.0,1.0,Y,Y,Y,Y,Y,Y,2015,2025-03-13
3,4.0,공중화장실,서울교통공사,1호선,종각,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),37.570175,126.983226,지하,...,1.0,NaN,Y,Y,Y,Y,Y,Y,2008이전,2025-03-13
4,5.0,공중화장실,서울교통공사,1호선,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),37.570420,126.992153,지하,...,1.0,1.0,Y,Y,Y,Y,Y,Y,2010,2025-03-13

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   연번                    302 non-null    float64
 1   구분                    302 non-null    object
 2   관리기관명                 302 non-null    object
 3   운영노선명                 302 non-null    object
 4   역명                    302 non-null    object
 5   소재지도로명주소              302 non-null    object
 6   소재지지번주소               302 non-null    object
 7   위도                    302 non-null    float64
 8   경도                    302 non-null    float64
 9   지상 또는 지하 구분           302 non-null    object
 10  역층                    302 non-null    float64
 11  게이트 내외 구분             302 non-null    object
 12  (근접) 출입구 번호           302 non-null    object
 13  상세위치                  302 non-null    object
 14  전화번호                  302 non-null    object
 15  개방시간                  302 non-null    object
 16  화장실 설치장소 유형           302 non-null    object
 17  오물처리방식                302 non-null    object
 18  남녀공용화장실여부             302 non-null    object
 19  남성용-대변기수              302 non-null    float64
 20  남성용-소변기수              302 non-null    object
 21  남성용-장애인용대변기수          286 non-null    float64
 22  남성용-장애인용소변기수          21 non-null     object
 23  남성용-어린이용대변기수          158 non-null    float64
 24  남성용-어린이용소변기수          12 non-null     float64
 25  여성용-대변기수              302 non-null    float64
 26  여성용-장애인용대변기수          286 non-null    float64
 27  여성용-어린이용대변기수          174 non-null    float64
 28  비상벨 설치유무              302 non-null    object
 29  화장실입구cctv설치유무         302 non-null    object
 30  기저귀교환대설치유무-남자화장실      302 non-null    object
 31  기저귀교환대설치유무-남자장애인화장실   302 non-null    object
 32  기저귀교환대설치유무-여자화장실      302 non-null    object
 33  기저귀교환대설치유무-여자장애인화장실   302 non-null    object
 34  리모델링 연도               302 non-null    object
 35  데이터기준일자               302 non-null    object
dtypes: float64(11), object(25)
memory usage: 87.9+ KB

In [13]:
df["역명"].value_counts()

역명
사당           5
동묘앞          5
동대문역사문화공원    4
용두           4
종로3가         4
            ..
숙대입구         1
신용산          1
이촌           1
동작           1
모란           1
Name: count, Length: 239, dtype: int64

In [17]:
df[df["역명"]=="종로3가"]

,연번,구분,관리기관명,운영노선명,역명,소재지도로명주소,소재지지번주소,위도,경도,지상 또는 지하 구분,...,여성용-장애인용대변기수,여성용-어린이용대변기수,비상벨 설치유무,화장실입구cctv설치유무,기저귀교환대설치유무-남자화장실,기저귀교환대설치유무-남자장애인화장실,기저귀교환대설치유무-여자화장실,기저귀교환대설치유무-여자장애인화장실,리모델링 연도,데이터기준일자
4,5.0,공중화장실,서울교통공사,1호선,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),37.570420,126.992153,지하,...,1.0,1.0,Y,Y,Y,Y,Y,Y,2010,2025-03-13
5,6.0,공중화장실,서울교통공사,1호선,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),37.570420,126.992153,지하,...,NaN,NaN,Y,Y,Y,N,Y,N,2008이전,2025-03-13
82,83.0,공중화장실,서울교통공사,3호선,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),37.571563,126.991876,지하,...,1.0,2.0,Y,Y,Y,Y,Y,Y,2010,2025-03-13
163,164.0,공중화장실,서울교통공사,5호선,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),37.571500,126.989059,지하,...,1.0,NaN,Y,Y,N,Y,N,Y,2012,2025-03-13

In [39]:
df.columns

Index(['연번 ', '구분 ', '관리기관명', '운영노선명 ', '역명', '소재지도로명주소 ', '소재지지번주소 ', '위도 ',
       '경도 ', '지상 또는 지하 구분', '역층', '게이트 내외 구분', '(근접) 출입구 번호', '상세위치 ',
       '전화번호 ', '개방시간 ', '화장실 설치장소 유형', '오물처리방식 ', '남녀공용화장실여부 ', '남성용-대변기수 ',
       '남성용-소변기수 ', '남성용-장애인용대변기수 ', '남성용-장애인용소변기수 ', '남성용-어린이용대변기수 ',
       '남성용-어린이용소변기수 ', '여성용-대변기수 ', '여성용-장애인용대변기수 ', '여성용-어린이용대변기수 ',
       '비상벨 설치유무 ', '화장실입구cctv설치유무 ', '기저귀교환대설치유무-남자화장실 ',
       '기저귀교환대설치유무-남자장애인화장실 ', '기저귀교환대설치유무-여자화장실 ', '기저귀교환대설치유무-여자장애인화장실 ',
       '리모델링 연도', '데이터기준일자'],
      dtype='object')

In [49]:
toilet_count = df.groupby(["운영노선명 ","역명"])[["역명"]].count()
toilet_count

                역명
운영노선명  역명
1호선    동대문       1
       동묘앞       4
       서울        1
       시청        1
       신설동       1
...             ..
8호선    신흥        1
       암사        1
       암사역사공원역   1
       잠실        1
       장지        1

[269 rows x 1 columns]

In [57]:
toilet_count = toilet_count.rename(columns = {"역명" : "화장실개수"}).reset_index()

In [59]:
toilet_count

    운영노선명        역명  화장실개수
0      1호선      동대문      1
1      1호선      동묘앞      4
2      1호선       서울      1
3      1호선       시청      1
4      1호선      신설동      1
..     ...      ...    ...
264    8호선       신흥      1
265    8호선       암사      1
266    8호선  암사역사공원역      1
267    8호선       잠실      1
268    8호선       장지      1

[269 rows x 3 columns]

In [61]:
toilet_count.columns

Index(['운영노선명 ', '역명', '화장실개수'], dtype='object')

In [79]:
toilet_count = toilet_count.rename(columns = {"운영노선명 " : "노선명"})

In [83]:
toilet_count.head()

   노선명   역명  화장실개수
0  1호선  동대문      1
1  1호선  동묘앞      4
2  1호선   서울      1
3  1호선   시청      1
4  1호선  신설동      1

In [69]:
df9 = pd.read_excel("./9호선 편의시설 개수 정보.xlsx")

In [81]:
df9.head()

   노선명    역명 지하상가  편의점(역내)  공중화장실  자전거보관소  엘리베이터  에스컬레이터  물품보관함  무인민원발급기  소화기
0  9호선    개화    -        0      1      30      2       4      1        0   58
1  9호선  김포공항    -        2      2       0      3      18      1        0   52
2  9호선  공항시장    -        1      1      30      3      18      1        0  102
3  9호선   신방화    -        0      1      30      4      22      1        0   62
4  9호선  마곡나루    -        1      1      40      4      14      1        1   51

In [67]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역이름      38 non-null     object
 1   지하상가     38 non-null     object
 2   편의점(역내)  38 non-null     int64
 3   공중화장실    38 non-null     int64
 4   자전거보관소   38 non-null     int64
 5   엘리베이터    38 non-null     int64
 6   에스컬레이터   38 non-null     int64
 7   물품보관함    38 non-null     int64
 8   무인민원발급기  38 non-null     int64
 9   소화기      38 non-null     object
dtypes: int64(7), object(3)
memory usage: 3.1+ KB

In [87]:
df9 = df9[["노선명", "역명", "공중화장실"]]

In [89]:
df9

    노선명      역명  공중화장실
0   9호선      개화      1
1   9호선    김포공항      2
2   9호선    공항시장      1
3   9호선     신방화      1
4   9호선    마곡나루      1
5   9호선    양천향교      1
6   9호선      가양      1
7   9호선      증미      1
8   9호선      등촌      1
9   9호선      염창      1
10  9호선     신목동      1
11  9호선     선유도      1
12  9호선      당산      2
13  9호선   국회의사당      2
14  9호선     여의도      2
15  9호선      샛강      1
16  9호선     노량진      2
17  9호선      노들      2
18  9호선      흑석      1
19  9호선      동작      2
20  9호선     구반포      1
21  9호선     신반포      1
22  9호선   고속터미널      4
23  9호선      사평      1
24  9호선     신논현      1
25  9호선      언주      1
26  9호선     선정릉      1
27  9호선    삼성중앙      1
28  9호선     봉은사      1
29  9호선   종합운동장      2
30  9호선      삼전      1
31  9호선    석촌고분      1
32  9호선      석촌      2
33  9호선    송파나루      1
34  9호선    한성백제      1
35  9호선   올림픽공원      2
36  9호선    둔춘오륜      1
37  9호선  중앙보훈병원      1

In [93]:
df9 = df9.rename(columns = {"공중화장실" : "화장실개수"})

In [95]:
df9

    노선명      역명  화장실개수
0   9호선      개화      1
1   9호선    김포공항      2
2   9호선    공항시장      1
3   9호선     신방화      1
4   9호선    마곡나루      1
5   9호선    양천향교      1
6   9호선      가양      1
7   9호선      증미      1
8   9호선      등촌      1
9   9호선      염창      1
10  9호선     신목동      1
11  9호선     선유도      1
12  9호선      당산      2
13  9호선   국회의사당      2
14  9호선     여의도      2
15  9호선      샛강      1
16  9호선     노량진      2
17  9호선      노들      2
18  9호선      흑석      1
19  9호선      동작      2
20  9호선     구반포      1
21  9호선     신반포      1
22  9호선   고속터미널      4
23  9호선      사평      1
24  9호선     신논현      1
25  9호선      언주      1
26  9호선     선정릉      1
27  9호선    삼성중앙      1
28  9호선     봉은사      1
29  9호선   종합운동장      2
30  9호선      삼전      1
31  9호선    석촌고분      1
32  9호선      석촌      2
33  9호선    송파나루      1
34  9호선    한성백제      1
35  9호선   올림픽공원      2
36  9호선    둔춘오륜      1
37  9호선  중앙보훈병원      1

In [105]:
pd.concat([toilet_count, df9],axis = 0, ignore_index = False).reset_index()

     index  노선명      역명  화장실개수
0        0  1호선     동대문      1
1        1  1호선     동묘앞      4
2        2  1호선      서울      1
3        3  1호선      시청      1
4        4  1호선     신설동      1
..     ...  ...     ...    ...
302     33  9호선    송파나루      1
303     34  9호선    한성백제      1
304     35  9호선   올림픽공원      2
305     36  9호선    둔춘오륜      1
306     37  9호선  중앙보훈병원      1

[307 rows x 4 columns]